@import "~antd/dist/antd.css";
@import "../public/fonts/iransans/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: IRANSans;
}

.ant-steps-item-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ant-pagination-item-link {
    display: flex !important;
    justify-content: center;
    align-items: center;
}